name: CI/CD Pipeline - Web app

permissions:
  actions: read
  contents: read
  packages: read

on:
  push:
    branches:
      - dev
      - master
  pull_request:
    branches:
      - dev
      - master
  workflow_dispatch:

env:
  SERVICE_CONTEXT: ./
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/bazar-web-app

jobs:
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          skip_after_successful_duplicate: 'true'

  docker-build-and-publish:
    needs: pre_job
    runs-on: ubuntu-latest

    if: |
      ${{ needs.pre_job.outputs.should_skip != 'true' && (
      github.event_name == 'push' ||
      github.event_name == 'pull_request' ||
      github.event_name == 'workflow_dispatch') }}

    steps:
      - uses: actions/checkout@v4
      - name: Extract Version
        id: get_version
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "APP_VERSION=$VERSION" >> $GITHUB_ENV
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        if: github.event_name == 'push' && github.ref_name == 'master' || github.event_name == 'workflow_dispatch'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name == 'push' && github.ref_name == 'master' || github.event_name == 'workflow_dispatch' }}
          load: ${{ !(github.event_name == 'push' && github.ref_name == 'master') && !(github.event_name == 'workflow_dispatch') }}
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.APP_VERSION }}
            ${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
  create-tag:
    needs: docker-build-and-publish
    runs-on: ubuntu-latest
    steps:
      - name: Create or Update Git Tag
        if: github.ref == 'refs/heads/master'
        run: |
          TAG_NAME="bweb-${{ env.APP_VERSION }}"

          # Configure git user (required for tagging)
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          echo "Force updating tag $TAG_NAME to point to current commit..."

          # -f: Force (overwrite if exists)
          # -a: Annotated tag (stores history/message)
          git tag -fa "$TAG_NAME" -m "Auto-tag release $TAG_NAME"

          # Push with --force to update the remote tag
          git push origin -f "$TAG_NAME"